* {
    box-sizing: border-box;
}    
  
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
  
html {
    scroll-behavior: smooth;
}

nav
{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 70px;
    width: 100vw;
    background-color: gray;
    color: white;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
  
a {
    color: white;
    padding: 30px;
    text-decoration: none;
}

#skills-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    color: black;
}

.skills {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
}

.cyan {
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.magenta {
    background-color: magenta;
}

#ai-img-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    width: 1000px;
    padding-bottom: 180px;
}

.ai-img {
    border: solid 5px greenyellow;
    margin: 10px;
}

.theater {
    height: 180px;
    width: 320px;
}

.square {
    height: 180px;
    width: 180px;
}

.outer {
    height: 370px;
    /* width: 100vw; */
    /* max-width: 100%; */
    margin: auto 8%;
}

.bumper {
    height: 70px;
    opacity: 0;
}

#coding {
    height: 300px;
    max-width: 1000px;
}

#ai {
    height: 900px;
    width: 1000px;
}

@media screen and (max-width: 570px) {
    body {
        width: 100vw;
    }
    
    #ai-img-list {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    
    #skills-list {
        padding-inline-end: 40px;
    }

    .square {
        height: 320px;
        width: 320px;
    }
    
    .outer, #coding {
        height: auto;
    }

    .outer {
        margin: 0;
        width: 100vw;
    }
}

@media screen and (max-width: 350px) {

    #ai-img-list {
        align-items: flex-start;
    }
}